.react-autosuggest__input {
  flex-grow: 1;
  color: $off-black;
  padding: $s-size;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.25rem;
  border: $input-border;
  margin: 0 $s-size 0 0;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 194px;
  left: 24px;
  width: 280px;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  z-index: 100 !important;
  border-left: $input-border;
  border-bottom: $input-border;
  border-right: $input-border;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $dark-blue;
  transition: all 0.3s ease-out;
  color: #fff;
}