.gene-entry {
  display: flex;
  padding: $m-size;
  flex-direction: column;
}

.gene-entry-error {
  color: $off-black;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
  text-align: center;
  margin: 0 0 $s-size 0;
}

// parameter is the condition under which to apply the following styles
@media (min-width: $desktop-breakpoint) {
  .gene-entry {
    flex-direction: row;
  }
}