.gene-entry {
    display: flex;
    padding: $m-size;
    flex-direction: column;
}

.gene-entry-error {
    color: $off-black;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
    text-align: center;
}

.gene-entry__input {
    flex-grow: 1;
    color: $off-black;
    border: none;
    border: .3rem solid darken($turquoise, 10%);
    margin: 0 0 $s-size 0;
    padding: $s-size;
    font-size: 2.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// parameter is the condition under which to apply the following styles
@media (min-width: $desktop-breakpoint) {
    .gene-entry {
        flex-direction: row;
    }
    .gene-entry__input {
        margin: 0 $s-size 0 0;
    }
}