.header {
    // background: $off-black;
    color: $turquoise;
    margin-bottom: $xl-size;
    padding: $m-size $m-size;
    text-align: center;
}

.header__title {
    font-size: $l-size;
    margin: 0;
}

@media (max-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $m-size;
    }
}