.header {
  margin-bottom: $xl-size;
  padding: $m-size $m-size;
  text-align: center;
}

.header__title {
  background: -webkit-gradient(linear, left top, right bottom, from($light-green), to($dark-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: $xl-size;
  margin: 0;
}

@media (max-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $m-size;
  }
}