html {
  font-size: 62.5%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem; }

button {
  cursor: pointer;
  font-size: 1.6rem; }

button:disabled {
  cursor: default; }

.header {
  margin-bottom: 4.8rem;
  padding: 1.6rem 1.6rem;
  text-align: center; }

.header__title {
  background: -webkit-gradient(linear, left top, right bottom, from(#A4D27A), to(#2286B8));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.8rem;
  margin: 0; }

@media (max-width: 45rem) {
  .header {
    margin-bottom: 1.6rem; } }

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem; }

.gene-entry {
  display: flex;
  padding: 1.6rem;
  flex-direction: column; }

.gene-entry-error {
  color: #20222b;
  font-style: italic;
  margin: 1.6rem 0 0 0;
  padding: 0 1.6rem;
  text-align: center;
  margin: 0 0 1.2rem 0; }

@media (min-width: 45rem) {
  .gene-entry {
    flex-direction: row; } }

.gene-table {
  flex: 1 0 auto;
  background: -webkit-gradient(linear, left top, right bottom, from(#A4D27A), to(#2286B8)); }

.gene-table__header {
  background: #A4D27A;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: capitalize; }

.gene-table__column {
  font-size: 1.6rem;
  font-family: monospace;
  white-space: pre-line !important;
  word-wrap: break-word;
  border: 1px solid #eff1f8 !important;
  padding: 7px !important; }

.-btn {
  background: #a5afd7 !important; }

.react-autosuggest__input {
  flex-grow: 1;
  color: #20222b;
  padding: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.25rem;
  border: 0.3rem solid #1e817f;
  margin: 0 1.2rem 0 0; }

.react-autosuggest__input--focused {
  outline: none; }

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 212px;
  left: 24px;
  width: 280px;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  z-index: 100 !important;
  border-left: 0.3rem solid #1e817f;
  border-bottom: 0.3rem solid #1e817f;
  border-right: 0.3rem solid #1e817f; }

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px; }

.react-autosuggest__suggestion--highlighted {
  background-color: #2286B8;
  transition: all 0.3s ease-out;
  color: #fff; }
